@import url('http://fonts.googleapis.com/css?family=Monda|Julius+Sans+One');
a {
	color: #545152;
}

td  {
		font-family: 'Monda';
		padding: 5px;
	}

thead.head th {
		font-family: 'Julius Sans One';
		font-size: 15px;
		padding: 7px 10px 10px 10px;
		border-top: 1px solid #111111;
		border-bottom: 1px solid #999;
	}

tr:last-child {
		border-bottom: 1px solid #999;
	}

.search {
		width: 15%;
		min-width: 150px;
		margin-left: 70px;
	}

#options {
		letter-spacing: 2px;
		text-align: center;
	}

img.small {
		height: 60px;
		width: 100px;
		min-width: 70px;
	}
	
.stock-warning {
	background-color: #FFBABA;
}

.stock-caution {
	background-color: #FEEFB3;
}

#key-warning.well-sm {
	background-color: #FFBABA;
}

#key-caution.well-sm {
	background-color: #FEEFB3;
}